In [1]:
import pandas as pd
from tqdm.auto import tqdm

In [2]:
train_df = pd.read_csv("./data/train.csv")

In [3]:
test_df = pd.read_csv("./data/test.csv")

In [4]:
train_df

,address,name_ru,rating,rubrics,text
0,"Екатеринбург, ул. Московская / ул. Волгоградск...",Московский квартал,3,Жилой комплекс,Московский квартал 2.\nШумно : летом по ночам ...
1,"Московская область, Электросталь, проспект Лен...",Продукты Ермолино,5,Магазин продуктов;Продукты глубокой заморозки;...,"Замечательная сеть магазинов в общем, хороший ..."
2,"Краснодар, Прикубанский внутригородской округ,...",LimeFit,1,Фитнес-клуб,"Не знаю смутят ли кого-то данные правила, но я..."
3,"Санкт-Петербург, проспект Энгельса, 111, корп. 1",Snow-Express,4,Пункт проката;Прокат велосипедов;Сапсёрфинг,Хорошие условия аренды. \nДружелюбный персонал...
4,"Тверь, Волоколамский проспект, 39",Студия Beauty Brow,5,"Салон красоты;Визажисты, стилисты;Салон бровей...",Топ мастер Ангелина топ во всех смыслах ) Немн...
...,...,...,...,...,...
499995,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,"Охрана кривая но добрая, двери не закрываются ..."
499996,"Москва, Южный административный округ, район Би...",Бирюлёво-Пассажирская,4,Железнодорожная станция,По сравнению со многими современными платформа...
499997,"Новосибирск, Коммунистическая улица, 48А",NaN,5,"Бар, паб","Приятная атмосфера, прекрасное вино, волшебная..."
499998,"Астраханская область, Харабалинский район",Сарай-Бату,5,Достопримечательность,Был с семьёй 13.06.23 Отличное место. Рекоменд...
499999,"Астраханская область, Харабалинский район",Сарай-Бату,5,Достопримечательность,"Отличные декорации... Вблизи тяп-ляп,а на фото..."

In [5]:
test_df

        id                                        review_text
0        0  Туда сложно попасть. Многие спрашивают не знае...
1        1  Это восторг! Много работы с куклами, озвучка к...
2        2  Три раза писал, просил отменить подписку на са...
3        3  Всем привет, никогда в жизни не писал никакие ...
4        4  Бизнес ланч не понравился, не смотря на большо...
...    ...                                                ...
5064  5064  Комендант а новая клиентов у неё не будет. Мож...
5065  5065  Центр хороший, только девушки на ресепшене мог...
5066  5066  Раздражает и очень раздражает. Шум, громкие со...
5067  5067  Место не соответствует всем положительным отзы...
5068  5068  Яндекс Go - отличный сервис такси в столице. Е...

[5069 rows x 2 columns]

In [6]:
test_text = test_df["review_text"][0]

In [11]:
for test_id, test_text in enumerate(tqdm(test_df["review_text"])):
    for train_id, text in enumerate(train_df["text"]):
        if text == test_text:
            print(f"train_id: {train_id}, test_id: {test_id}")
            break

  0%|          | 0/5069 [00:00<?, ?it/s]

train_id: 23910, test_id: 220
train_id: 23911, test_id: 604
train_id: 50103, test_id: 646
train_id: 184535, test_id: 840
train_id: 145707, test_id: 1017
train_id: 145707, test_id: 1018
train_id: 170502, test_id: 1286
train_id: 55212, test_id: 1805
train_id: 79208, test_id: 2593
train_id: 119427, test_id: 3091
train_id: 194408, test_id: 3141
train_id: 146218, test_id: 3273
train_id: 451046, test_id: 3274
train_id: 289220, test_id: 3525
train_id: 310490, test_id: 3761
train_id: 50100, test_id: 3977

In [14]:
train_ids = [
    23910,
    23911,
    50103,
    184535,
    145707,
    145707,
    170502,
    55212,
    79208,
    119427,
    194408,
    146218,
    451046,
    289220,
    310490,
    50100,
]

test_ids = [
    220,
    604,
    646,
    840,
    1017,
    1018,
    1286,
    1805,
    2593,
    3091,
    3141,
    3273,
    3274,
    3525,
    3761,
    3977,
]

In [ ]:
column_names = ["id", "predicted_rating"]
corrected_output_df = pd.read_csv(
    "./predictions/corrected_output.tsv", sep="\t", names=column_names
)

In [17]:
corrected_output_df

        id  predicted_rating
0        0          2.122241
1        1          4.740441
2        2          1.000000
3        3          1.213480
4        4          3.954807
...    ...               ...
5064  5064          1.748784
5065  5065          3.735532
5066  5066          2.353711
5067  5067          1.141975
5068  5068          4.070914

[5069 rows x 2 columns]

In [ ]:
for i in range(len(train_ids)):
    train_id = train_ids[i]
    rating = train_df["rating"][train_id]
    test_id = test_ids[i]
    prediction = corrected_output_df["predicted_rating"][test_id]

    abs_diff = abs(rating - prediction)
    print(
        f"train_id: {train_id:6.0f}, test_id: {test_id:4.0f}, rating: {rating}, prediction: {prediction:1.4f}, abs_diff: {abs_diff:1.4f}"
    )

train_id:  23910, test_id:  220, rating: 4, prediction: 3.4840, abs_diff: 0.5160
train_id:  23911, test_id:  604, rating: 4, prediction: 3.6505, abs_diff: 0.3495
train_id:  50103, test_id:  646, rating: 5, prediction: 5.0000, abs_diff: 0.0000
train_id: 184535, test_id:  840, rating: 4, prediction: 2.2673, abs_diff: 1.7327
train_id: 145707, test_id: 1017, rating: 4, prediction: 3.9767, abs_diff: 0.0233
train_id: 145707, test_id: 1018, rating: 4, prediction: 3.9767, abs_diff: 0.0233
train_id: 170502, test_id: 1286, rating: 3, prediction: 3.1608, abs_diff: 0.1608
train_id:  55212, test_id: 1805, rating: 4, prediction: 5.0000, abs_diff: 1.0000
train_id:  79208, test_id: 2593, rating: 4, prediction: 3.3074, abs_diff: 0.6926
train_id: 119427, test_id: 3091, rating: 3, prediction: 3.0984, abs_diff: 0.0984
train_id: 194408, test_id: 3141, rating: 3, prediction: 3.7874, abs_diff: 0.7874
train_id: 146218, test_id: 3273, rating: 5, prediction: 4.3460, abs_diff: 0.6540
train_id: 451046, test_id: 3274, rating: 2, prediction: 2.1102, abs_diff: 0.1102
train_id: 289220, test_id: 3525, rating: 5, prediction: 5.0000, abs_diff: 0.0000
train_id: 310490, test_id: 3761, rating: 5, prediction: 2.9476, abs_diff: 2.0524
train_id:  50100, test_id: 3977, rating: 4, prediction: 3.2750, abs_diff: 0.7250

In [ ]:
# 55212, 310490

In [37]:
train_df.loc[310490], test_df.loc[3761]

(address              Москва, 2-я Бауманская улица, 5, стр. 4
 name_ru    Московский государственный технический универс...
 rating                                                     5
 rubrics                                                  ВУЗ
 text       Как много разнообразных эмоций было пережито в...
 Name: 310490, dtype: object,
 id                                                          3761
 review_text    Как много разнообразных эмоций было пережито в...
 Name: 3761, dtype: object)

In [38]:
train_df.loc[310490]["text"]

'Как много разнообразных эмоций было пережито в данном месте в ходе обучения на ФН-12. В основном это страдания от вечного перегруза, недосыпа и ощущения безумной гонки в надежде уложить у себя в голове нескончаемый и огромный по масштабам объем исходящей из программы обучения информации. Однако, поверьте это того стоило т.к. только после такого к тебе действительно приходит просвещение и ты по истине становишься думающим человеком с высокоразвитым критическим мышлением. К данному ВУЗ испытываю исключительно теплые чувства, однако данное место для тех, кто имеет хорошую школьную базу и готов посветить себя на периоде обучения исключительно науке.'

In [49]:
import torch
from transformers import T5ForConditionalGeneration, T5Tokenizer

device = "cuda" if torch.cuda.is_available() else "cpu"


model_name = "cointegrated/rut5-base-paraphraser"
tokenizer = T5Tokenizer.from_pretrained(model_name)
model = T5ForConditionalGeneration.from_pretrained(model_name).to(device)


def paraphrase_local(text):
    input_text = "paraphrase: " + text
    inputs = tokenizer(
        input_text, return_tensors="pt", max_length=256, truncation=True
    ).to(device)

    with torch.no_grad():
        outputs = model.generate(
            **inputs,
            max_length=100,
            num_beams=3,
            repetition_penalty=2.0,
            temperature=0.7,
            early_stopping=True,
        )

    return tokenizer.decode(outputs[0], skip_special_tokens=True)

In [54]:
paraphrased_text = paraphrase_local(train_df.loc[55212]["text"])

In [55]:
len(paraphrased_text), len(train_df.loc[55212]["text"])

(166, 166)